/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('Oswald-ExtraLight.ttf');
@font-face {
        font-family: 'Oswald';
        src: url('Oswald-ExtraLight.ttf');
}

body {
	background-image: url('pattern-whiteslashdot45px.png');
	background-repeat: repeat;
}
#menu_container {
	width: 100%;
	background-color: black;
	height: 60px;
}
#menu {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	width: 1000px;
	display: flex;
}
.menu_option {
	margin-left: 50px;
	margin-top: 10px;
	font-family: 'Oswald';
	font-size: 22px;
	letter-spacing: 2px;
	color: white;
	
}
.menu_option a {
	color: white;
	text-decoration: none;
}
#menu_browse_container {
	margin-left: 300px;
}
#logo_container {
	margin-left: auto;
	margin-right: auto;
	width: 290px;
}
#logo {
	position: relative;
	top: -40px;
	left: 66px;
	background-image: url('logo.png');
	width: 290px;
	height: 85px;
}
#body_content_container {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border-radius: 15px;
	padding: 20px;
	filter: drop-shadow(10px 10px 4px #a9b9b9);
}
#body_content {
}
