/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('Oswald-ExtraLight.ttf');
@import url('URWGothic-Book.otf');
@import url('URWGothic-Demi.otf');
@import url('adelia.otf');
@font-face {
        font-family: 'Oswald';
        src: url('Oswald-ExtraLight.ttf');
}
@font-face {
        font-family: 'URWGothic-light';
        src: url('URWGothic-Book.otf');
}
@font-face {
        font-family: 'URWGothic-bold';
        src: url('URWGothic-Demi.otf');
}
@font-face {
        font-family: 'adelia';
        src: url('adelia.otf');
}

body {
	background-image: url('patter-whiteslashdot-tr-45px.png');
	background-repeat: repeat;
}
#menu_container {
	width: 101%;
	background-color: black;
	height: 60px;
	margin-left: -8px;
	margin-top: -8px;
}
#menu {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	width: 1000px;
	display: flex;
}
.menu_option {
	margin-left: 50px;
	margin-top: 10px;
	font-family: 'Oswald';
	font-size: 22px;
	letter-spacing: 2px;
	color: white;
	
}
.menu_option a {
	color: white;
	text-decoration: none;
}
#menu_search_container {
	margin-left: 300px;
}
#menu_browse_container {
}
#logo_container {
	margin-left: auto;
	margin-right: auto;
	width: 290px;
}
#logo {
	position: relative;
	top: -40px;
	left: -49px;
	background-image: url('logo.png');
	width: 290px;
	height: 85px;
}
#content_columns {
	display: flex;
}
#column_left {
	margin-top: -83px;
	margin-right: -8px;
	background-repeat: repeat;
	background-image: url('slanted-netting.png');
	min-width: 100px;
	max-width: 200px;
	min-height: 100vh;
}
#column_center {
	min-width: 805px;
	margin-left: auto;
	margin-right: auto;
}
#column_right {
	margin-top: -83px;
	margin-right: -8px;
	min-width: 100px;
	max-width: 200px;
	min-height: 100vh;
	background-repeat: repeat;
	background-image: url('slanted-netting.png');
}
#body_content_container {
}
#body_content {
	font-family: 'URWGothic-light';
}
#body_content h1 {
}
.match_content_container {
	margin-top: 25px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border-radius: 15px;
	padding: 20px;
	filter: drop-shadow(10px 10px 4px #a9b9b9);
}
#body_content p.match_title  {
	font-family: 'URWGothic-bold';
	text-align: center;
	font-size: 58px;
	text-transform: uppercase;
}
#body_content .seperator {
	background-color: rgb(0 0 0 / 25%);
	width: 700px;
	height: 8px;
	margin-left: auto;
	margin-right: auto;
}
#body_content p.match_total {
	vertical-align: center;
	text-align: center;
}
#body_content p.match_total span.match_total_amount {
	font-size: 58px;
	color: #93dbc4;
}
#body_content .match_description {
	font-size: 27px;
	margin-left: 15px;
	margin-right: 15px;
}
#body_content p.match_base_amount {
	text-align: right;
}
#body_content div.contributor_emails_container {
	display: flex;
}
#body_content p.contributors_copy_container {
	text-align: center;
}
#body_content p span.contributors_copy {
	font-family: 'adelia';
	font-size: 24px;
}
.content_container {
	margin-top: 25px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border-radius: 15px;
	padding: 20px;
	filter: drop-shadow(10px 10px 4px #a9b9b9);
}
.content_container_internal {
	width: 350px;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}
